/Esercizi_250222/Esercizi/target/
/Esercizi_250222/Prove/target/
/Esercizi_280222/mavenproject1/target/
/Esercizi_280222/Scuole/target/
/Esercizi_010322/javainterface/target/
/Esercizi_020322/Contatto/target/
/Esercizi_020322/Articolo/target/
/Esercizi_030322/ristorante/target/
